<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.pms.dao.MonitorDao">

	<!-- public List<MonitorInstance> getAllMonitorInstancesByMonitorItemId(int monitorItemId); -->
	<select id="getAllMonitorInstancesByMonitorItemId">
		select * from tb_monitor_item
		where 
	
	</select>
	<resultMap id="MonitorMap" type="com.cc.pms.bean.CheckItem">
		<id column="inventory_check_item_id" jdbcType="INTEGER" property="inventoryCheckItemId" />
		<result column="inventory_check_product_expected_size" jdbcType="INTEGER" property="inventoryCheckProductExpectedSize" />
		<result column="inventory_check_product_actual_size" jdbcType="INTEGER" property="inventoryCheckProductActualSize" />
		<result column="inventory_check_id" jdbcType="INTEGER" property="inventoryCheckId" />
		<result column="inventory_check_state" jdbcType="INTEGER" property="inventoryCheckState" />
		<association property="product" javaType="com.cc.pms.bean.Product">
			<id column="product_id" property="productId"/>
			<result column="product_name" property="productName"/>	
		</association>
	</resultMap>



</mapper>